* {
  box-sizing: border-box;
}

html,
body {
  background-color: hwb(0 10% 90%);
  min-height: 100vh;
  overflow: hidden;
  font-family: "Rubik Marker Hatch", cursive;
}

body {
  display: grid;
  place-items: center;
}

h1,
p {
  padding: 0;
  margin: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.circle {
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: 150vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: conic-gradient(at top right, lightcyan, lightblue);
  translate: -50% -50%;
  scale: 0;
}

@keyframes pulse {
  100% {
    scale: 1;
    opacity: 0;
  }
}

.pulse {
  animation: pulse 500ms;
}

dialog {
  background-color: transparent;
  padding: 0;
}

.intro {
  text-align: center;
  padding: 7.5vmin 2.5rem;
  border: 0.5em solid lightblue;
  border-radius: 1em;
  color: lightblue;
  display: grid;
  gap: 2.5rem;
}

.intro__title {
  font-size: 3rem;
}

.intro__description {
  font-size: 1.5rem;
}

code {
  color: darkred;
  background-color: hwb(0 100% 0% / 0.5);
  font-size: 1rem;
  padding: 0.5em 0.75em;
}

.intro__close {
  font-size: 1.5rem;
  color: currentColor;
  padding: 0.5em 1em;
  border: 2px solid currentColor;
  border-radius: 99em;
}

.show-intro {
  position: absolute;
  right: 5vmin;
  bottom: 5vmin;
  width: 4.5%;
  aspect-ratio: 1;
  translate: 0 10vmin;
  opacity: 0;
  transition: translate 500ms, opacity 400ms 100ms;
}

.show-intro > svg {
  fill: hwb(0 100% 0%);
}

.show-up {
  translate: 0 0;
  opacity: 1;
}